<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
  <meta charset="utf-8">
<script src="https://kit.fontawesome.com/e17ac1aef5.js"></script>

  <!-- #################   link-preview   ##################### -->
  <meta property="og:title" content="Stem Overflow">
  <meta property="og:image" content="https://stemoverflow.appspot.com/img/fb_preview.png">
  <meta property="og:description" content="اول موقع لاختبارات الذكاء للطلاب الراغبون في الالتحاق بمدارس المتفوقين">
  <meta property="og:url" content="https://stemoverflow.appspot.com/">
  <meta name="twitter:card" content="summary_large_image">
  <!-- #################   link-preview   ##################### -->
  <!-- #################   Google search   ##################### -->
  <meta name="description" content="First website built to help STEM seekers in Egypt prepare for their admission exams ." />

  <!-- #################   Google search   ##################### -->

  <title>STEM Overflow</title>
  <base href="/">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142788675-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-142788675-1');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- Google Adsense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3523003915955780",
      enable_page_level_ads: true
    });
  </script>
  <!-- Google Adsense -->
  <!-- ################# facebook Analytics ################# -->

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: '1266442840182526',
        cookie: true,
        xfbml: true,
        version: 'v3.3'
      });

      FB.AppEvents.logPageView();

    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>
  <!-- ################# facebook Analytics ################# -->

  <script type="text/javascript" src="js/lib/jquery-3.4.1.js?rand=<%=Math.random()%>"> </script>
  <link rel="stylesheet" href="css/lib/bootstrap.css?rand=<%=Math.random()%>">
  <link rel="stylesheet" href="/css/main.css?rand=<%=Math.random()%>">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <script type="text/javascript" src="/js/main.js?rand=<%=Math.random()%>"> </script>
</head>

<body>
