<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
<link rel="stylesheet" href="css/about.css?rand=<%=Math.random()%>">
<div class="my_container">
  <h3 style='text-align:center'>About Beyond</h3>

  <p>
    Technology has been evolved dramatically across the last three decades. There are countless shapes of technology, which are all designated to serve many segments. Virtual Reality (VR) is a momentous one of them, and it basically employs computer technology to create controlled environment. Furthermore, Virtual Reality is a simulated environment which is devised with software and accessible to the students in such a way that the student suspends trust and admits it as a real environment. Beyond will exploit VR to be the major tool of facilitation in eradicating the education problem in Jakarta. An analytic research conducted by the World Bank demonstrated that a large proportion of children in Jakarta don’t have a chance to have a high-quality education. Also, the Indonesian regime endeavors to advance a “world class” education system by 2025; nevertheless, the prime barrier or concern is no longer about having an access to education, currently it is quality.  Henceforth, Beyond creates a VR tool which is devised to unravel scientific theories for the students and assist everyone discovering the universe. This platform is characterized with high quality education standards, interactivity, quizzes, and availability to assist any student to find out everyone’s passion. To illustrate so more, the project has entirely two main sections. First of all, there is a section that is dedicated for watching basic experiments and illustrated videos about various subjects. The second part is allocated to quizzes after every video in order to assure the learning process for every student, and to encourage them to learn more. This Project is peculiar in many aspects. It works on providing the students in Jakarta an exceptional opportunity to be familiar with science through using of digital platform. Firstly, it will motivate students to acquire more knowledge since they will be acquainted with scientific phenomena and experiments that take place in the globe currently. In addition to that, it forms a secure setting for dangerous or hazardous learning processes such as chemical experiments. Beyond Project with its use of VR can create a safe environment to execute dangerous experiments and acquire the required aptitudes. Also, Beyond Project is responsible for providing opportunities for teamwork and mutual learning. By utilizing Virtual Reality in the project, students in Jakarta can work together in ways that conventional classrooms could never do. The project offers the students much likelihood to do groups to solve group quizzes or to comprehend certain concept. This can aid them to work with each other, share notions and benefit from the learning process. Moreover, by dealing with a virtual environment, scholar in Jakarta can acquire more about technology and employ this acquaintance in their houses and societies.

  </p>

</div>






<%include partials/foot.ejs%>
<%include partials/footer.ejs%>
