<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<link rel="stylesheet" href="css/about.css?rand=<%=Math.random()%>">
<div class="my_container">


<h6>
  where Just a touch on screen leads to realize the universe and what is beyond!
  Beyond project affords a virtual-reality based platform, which is utilized to simplify the scientific theories and experiments to the Indonesian scholars.
  This platform aids Indonesian students discovering the universe in front of their screens and understanding the scientific concepts with simple simulations.

</h6>
</div>
<%include partials/foot.ejs%>

<% include partials/footer.ejs %>
