<%include partials/header.ejs%>
<%include partials/navbar.ejs%>
<link rel="stylesheet" href="css/about.css?rand=<%=Math.random()%>">
<div class="my_container">
    
</div>






<%include partials/foot.ejs%>
<%include partials/footer.ejs%>
