<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<div style="width: 500px;margin: 50px auto;padding:40px 20px; border: 1px solid grey;border-radius: 10px">
    <form action="/admin" method="POST">
        <input name="emial" placeholder="email" type="text" class="form-control" style="margin: 20px 0">
        <input name="password" placeholder="password" type="text" class="form-control">
        <center>
            <button type="submit" class="btn btn-lg btn-danger" style="margin-top: 30px">Log in</button>
        </center>

    </form>
</div>






<%include partials/foot.ejs%>
<%include partials/footer.ejs%>