<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<style>
    body {
        background: white !important;
    }

    #head_new {
      display: inline-block;
        width: 100%;
        max-height:400px;
        /* background: rgb(254, 242, 0); */
        /* background: radial-gradient(circle, rgba(254, 242, 0, 1) 0%, rgba(255, 133, 0, 1) 63%); */
        overflow:hidden;
    }
    .cover{
      margin-top:-20vw;
      width:100%;
    }

    .head_logo {
        width: 400px;
        margin-left: 30px;
    }

    .head_line {
        height: 300px;
        margin: 40px 40px 40px 90px;
    }

    .head_seekers {
        width: 400px;
    }



    }
</style>
<div id="head_new">
    <center>
       <img class="cover" src="img/cover2.jpg">
    </center>
</div>

<style>
    .home_item {
        max-width: 400px;
        width: 95%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 50px auto;
        border-radius: 15px;
        padding: 50px;


    }
    #signin_a:hover{
        text-decoration: none !important;
    }
</style>
<div class="home_item">
    <h6 style="font-family: Righteous;color: rgba(0, 0, 0, 0.5); text-align:center;">Register Now</h6>
    <hr>
    <center>
        <a href="signup"><button type="button" class="btn btn-warning btn-lg"
                style="font-family: Righteous;color:white;">Register Now</button></a>
        <br>
        <br>
        <a href="/auth/facebook" class="fb connect">Continue with Facebook</a>
        <br>
        <br>


        <small>Already a user</small>
        <br>
        <a href="signin" id="signin_a">
            <button class="btn btn-primary btn-sm" style="color:white">Signin</button>
        </a>


        <br>




    </center>
</div>


<% include partials/foot.ejs %>
<% include partials/footer.ejs %>
