<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<style media="screen">
  .lesson_main {
    background: white;
    margin-top: 20px;
    padding: 0px;
    border-radius: 10px;
    width: 750px;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  h4 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: righteous;
    //color: #4a535c;
    text-align: center;
  }

  li {
    list-style: none;
  }


  .l_item {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    //border-bottom:1px solid gray;
  }

  .i_head {
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-family: righteous;
  }

  .fa-play-circle {
    align-self: center;
    padding: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
    transition: transform 400ms ease-in, color 300ms ease-in;
  }

  hr {
    margin: 0px;
  }

  h3 {
    font-size: 14px;
    color: gray;
  }

  .hr_main {
    border-top-color: rgba(0, 0, 0, 0.2);
  }

  .hr_sub {
    padding: 3px;
  }

  .head_s {
    color: #31363c;
  }

  .l_item:hover .fa-play-circle {
      /* transform: rotate(0.34turn) scale(1.1); */
      /* color: green; */
  }

  .l_item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);

  }

  .head_s:hover {
    text-decoration: underline;
  }
</style>
<div class="container lesson_main">


  <h4>Solar System</h4>
  <hr class='hr_main'>
  <% for(var i=1;i<6;i++){%>
  <div class="lesson_items" value=<%=i%>>
    <div class="l_item">
      <i class="fas fa-play-circle"></i>
      <div class="i_head"><span class='head_s'>Solar System VR video</span>
        <hr class='hr_sub'>
        <h3>
          Solar System Video showing the 8 planets of the Solar System orbiting the Sun. As we move out from Mercury, Venus, Earth and Mars, towards the gas </h3>
      </div>
    </div>
    <hr class='hr_main'>
  </div>

  <%}%>

</div>
<script type="text/javascript">
  var isvid=0;
  var vid_id=0;

$('.lesson_items').hover(function(){
var l_value=$(this).attr('value');
if(!(isvid & l_value==vid_id)){
  jQuery(this).find('i').css("transform","rotate(0.335turn) scale(1.1)");
  jQuery(this).find('i').css("color","green");
}},function(){
  var l_value=$(this).attr('value');
  if(!(isvid & l_value==vid_id)){
  jQuery(this).find('i').css("transform","rotate(0turn) scale(1.1)");
  jQuery(this).find('i').css("color","#212529");
}});



$('.lesson_items').on('click',function(){
  var vid_id_temp=$(this).attr('value')
  if(isvid && vid_id_temp==vid_id){
    $('.vid').remove();
    isvid=0;
    vid_id=0;
    }
    else if(isvid && vid_id_temp!=vid_id){
      $('.vid').remove();
      $(this).append(`
      <div class="vid">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DyDfgMOUjCI?rel=0&autoplay=1" allowfullscreen></iframe>
      </div>
      </div>
      `)
      for(var i=0;i<$('.fa-play-circle').length;i++){
        $('i').eq(i).css("color","#212529");
        jQuery(this).find('i').css("color","green");
        if((i+1)!=vid_id){
        }
      }
      isvid=1;
      vid_id=vid_id_temp;
    }
    else {
$(this).append(`
<div class="vid">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DyDfgMOUjCI?rel=0&autoplay=1" allowfullscreen></iframe>
</div>
</div>
`)
jQuery(this).find('i').css("color","green");
isvid=1;
vid_id=vid_id_temp;

}
})

</script>

<%include partials/foot.ejs%>
  <% include partials/footer.ejs %>
