<%include partials/header.ejs%>
<link rel="stylesheet" href="css/home_signed.css">
<div class="item">
  <img style="display: block;margin:auto;" src="img/seekers.png" alt="">
  <%include partials/signed/comments.ejs%>
</div>
<%include partials/footer.ejs%>

