.table{
    text-align: right ;
}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}
@media(max-width:550px){.my_container{
padding-left: 5px;
padding-right: 5px;
}}

.required_papers{
text-align: right;
margin-bottom: 50px;
}