body{background: #fafafa;
}

.item {
background: white;
width: 95%;
max-width: 550px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
border-radius: 10px;
margin: 10px auto;
padding-bottom: 15px
}

.item_nav_top {
height: 24px;
border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.nav_float_right {
float: right;
margin-right: 5px;
margin-top: 6px
}

.nav_close {
width: 10px;
height: 10px;
background: red;
border-radius: 50%;
float: right;
margin-right: 4px;
}

.nav_minimize {
width: 10px;
height: 10px;
background: greenyellow;
border-radius: 50%;
float: right;
margin-right: 4px;
}

.nav_idk {
width: 10px;
height: 10px;
background: yellow;
border-radius: 50%;
float: right;
margin-right: 4px;
}

.nav_float_left img {
height: 15px;
border-radius: 50%;
margin-top: -3px;
margin-left: 5px;
}

.nav_float_left small {
height: 11px;
border-radius: 50%;
left: 50px;
color: rgba(0, 0, 0, 0.5);
line-height: 10px;
}

.item_question_img {
width: 50%;
margin: 10px auto;
}

.item_answer_img {
width: 50%;
margin: 10px auto;
}

.item_question_img img {
width: 100%;
margin: auto;
}

.item_answer_img img {
width: 100%;
margin: auto;
}

#question_text {
overflow-wrap: break-word;
padding: 0 15px;
}

#choices {
padding: 0 20px;
}

.radio {
margin-top: 7px;
}

.choice {
display: inline;
border: 1px solid red;
margin: 0 10px
}

.choice span {
font-family: Righteous;
color: rgba(0, 0, 0, 0.5);
}
.answer{
  border-radius: 35px;
  padding: 10px 10px;
  font-family: Righteous;
  word-wrap: break-word;
  margin:  15px 0;
}
.answer_border{
  border:1px solid rgba(0,0,0,0.3);


}
.answer_hover:hover{
  background:rgba(253, 236, 2, 0.3);

cursor: pointer;
}
.answer_active{
  background:rgba(253, 236, 2, 0.3);
  border:1px solid rgba(142, 196, 233, 0);





}
.not_active{
background: rgba(0, 0, 0, 0.2);
opacity: 0.4;
}
.side_bar{
  width:206px;
right: 0;
top:0;
  height: 100%;
  border-left: 1px solid #ccc;
  position: absolute;
  padding:0 5px;
  position: fixed;
  overflow-x: hidden;
                overflow-x: auto;
                padding-top: 20px;
                background: #e9ebee;
}
.side_bar::-webkit-scrollbar { width: 0 !important }
#dashboard{
  font-family: Righteous;
  text-align: center;
}
  #score{

  width:206px;
  background: white;
  margin:-5px;
  padding: 10px;
  position: fixed;
  }
  #score p {
    margin: 0 !important;

    font-family:righteous;
  }
  .item_score{
width:calc(100%+10px);
margin-left: -5px;
margin-right: -5px;
padding: 10px 5px 10px 0;
  }

  .item_score_img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.25px solid #ccc;
    float: left;
    margin:0 5px;


  }
  .item_score_img img{
    max-height:100%;
    max-width:100%;


  }
.item_name{
  display: inline-block;
width:100px;
 white-space: nowrap;
  overflow: hidden; 
   font-size: 12px;
  overflow-wrap: unset;
    text-overflow: ellipsis;
    margin-top: 6px


}
.item_score:hover{
  background: #ccc;
  cursor: pointer;
  
}
 p{

    margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
    .side_bar_in{
      margin-top:40px !important;
    }
