<div class="item" style="font-family: Righteous;   bacskground:linear-gradient(to right, #e6d1de, #fffcdc);">    
    <center>
        <a href="https://www.facebook.com/StemOverflow" target="_blank">
            <img style="margin-top:70px;margin-bottom:50px;" src="img/follow_fb.jpg"  alt="">
        </a>
    <div style="margin-bottom:50px;" class="fb-like" data-href="https://www.facebook.com/StemOverflow" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </center>
</div>
</div>