<div class="item" style="font-family: Righteous;   background:linear-gradient(to right, #d9a7c7, #fffcdc);">
    <img src="img/math.png?rand=<%=Math.random()%>" alt=""
        style="width:95%;max-width: 400px;display: block;margin: auto;">
    <h1 style="text-align:center;color: whitesmoke;text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);margin:10px 30px;">Upload
        a Question <br> Earn 10 Points</h1>
    <center>

        <a href="/upload" target="_blank"> <button class="btn btn-warning" style="color: white">Post a
                question</button></a>
    </center>
</div>
</div>