
<style>
#sidebar{
    position:fixed;
    background: #fff;
    height:100%;
    top: 50px;
    left: 0;
    width: 50px;
    border-radius: 0 10px 10px 0;
    padding: 20px;
}
#sidebar hr{
    width: 50px;
    margin-left: -20px;
}

</style>
<div id="sidebar">
<div class="notification">
    <i class="fa fa-bell bell" id="notification_bell" data-container="body" data-toggle="popover" data-placement="right"
        title="Notifications" data-html="true" data-content='
    <div class="not_loading_img_div">
      
   loading...
    
  </div>
    '>  

</div>